html, body {
  overflow-x: hidden;
}
div {
  font-family: 'Noto Sans', sans-serif;
}
a > img {
  width: auto;
  height: auto;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 49px;
}
ul > :first-child {
  margin-top: 2vw;
}
ul > span {
  font-size: 21px;
  font-weight: bold;
}
li {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}
li:first-of-type {
  margin-top: 10px;
}
div#body-dict {
  margin-top: 160px;
}
div#body-dict > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}

/* header */
#header-wrapper {
  height: 1346px;
}
#logo, #footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 103px;
  font-size: 20px;
  font-weight: bold;
}
.landing-background {
  max-width: 100%;
  height: auto;
  width: auto;
}
.header-bio {
  height: 180px;
  padding-left: 22vw;
  padding-top: 5vw;
  font-size: 19px;
  font-weight: normal;
}
/* body */
#body-wrapper {
  height: 100%;
}
.slidein-on-scroll {
  text-align: center;
  margin-bottom: 388px;
}
.bio-element-left div, .bio-element-right div {
  display: inline-block;
  text-align: left;
}
.bio-thumbnail-left {
  margin-left: 244px;
}
.bio-element-left div {
  transform: translateY(-88px);
}
.bio-element-right div {
  margin-left: 244px;
  transform: translateY(-45px);
}
.bio-text {
  width: 745px;
  font-size: 17px;
  margin-top: 84px;
  line-height: 32px;
}
.arrow {
  margin-top: 34px;
  display: block;
  opacity: .3;
  transition: ease;
  transition-duration: .3s;
}
.arrow img {
  width: 51px;
}
.arrow:hover {
  opacity: 1;
  transform: translateX(20px);
}
.bio-thumbnail-left, .bio-thumbnail-right {
  /* box-shadow: 7px 7px 20px #000000; */
  border: none;
}

/* personal contact */
#personal-contact {
  text-align: center;
  margin-top: 576px;
}
#personal-contact > div {
  display: inline-block;
}
#personal-contact-content {
  text-align: left;
  margin-right: 170px;
  transform: translateY(-89px);
}
#personal-contact-info {
  margin-top: 78px;
}
.social-media-item img {
  display: inline;
  width: 60px;
  transition-timing-function: ease-in-out;
  transition-duration: .25s;
}
#personal-contact-socials li {
  display: inline-block;
}
#personal-social-medias-wrapper {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
/* #personal-social-medias-wrapper a:not(#personal-social-medias-wrapper a:first-of-type) {
  margin-left: 36px;
} */
.icon-not-first-of-type {
  margin-left: 36px;
}
#personal-contact-background {
  width: 42%;
  height: 566px;
  background-color: #000000;
  box-shadow: 5px 5px 25px #000000;
  transform: translate(327px, -84px);
}
#personal-contact-background img {
  min-width: 647px;
  box-shadow: 7px 7px 20px #000000;
  transform: translate(-284px, 35px);
}


/* footer */
#footer-wrapper {
  height: 100%;
  margin-top: 270px;
}
#footer-trademark {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-logo {
  float: right;
  margin-top: 50px;
}

/* animation on load and scroll */
.fadein-on-load, .fadein-on-scroll {
  opacity: 0;
}
.slidein-on-load,
.slidein-on-scroll .bio-title,
.slidein-on-scroll .bio-text,
.slidein-on-scroll #personal-contact-title,
.slidein-on-scroll #personal-contact-info,
.slidein-on-scroll #personal-contact-socials {
  opacity: 0;
  transform: translateY(1.4vw);
}
.slidein-on-scroll .arrow > img {
  opacity: 0;
  transform: translateX(-1.4vw);
}
.slidein-on-scroll .thumbnail {
  opacity: 0;
  transform: translateY(3.5vw);
}
.fadein-on-load-active {
  animation: fadein-on-load 3s ease forwards;
}
.fadein-on-scroll-active {
  animation: fadein-on-scroll 2s ease forwards;
}
.slidein-on-load-active {
  animation: slidein-on-load-scroll .6s ease 1s forwards;
}
/* bio content */
.slidein-on-scroll-active .thumbnail {
  animation: slidein-on-load-scroll .6s ease forwards;
}
.slidein-on-scroll-active .bio-title {
  animation: slidein-on-load-scroll .6s ease .5s forwards;
}
.slidein-on-scroll-active .bio-text {
  animation: slidein-on-load-scroll .6s ease 1s forwards;
}
.slidein-on-scroll-active .arrow > img {
  animation: slidein-on-scroll-arrow .6s ease 1.5s forwards;
}

/* personal contact */
.slidein-on-scroll-active #personal-contact-title {
  animation: slidein-on-load-scroll .6s ease .5s forwards;
}
.slidein-on-scroll-active #personal-contact-info {
  animation: slidein-on-load-scroll .6s ease 1s forwards;
}
.slidein-on-scroll-active #personal-contact-socials {
  animation: slidein-on-load-scroll .6s ease 1.5s forwards;
}
@keyframes fadein-on-load {
  to {
    opacity: 1;
  }
}
@keyframes fadein-on-scroll {
  to {
    opacity: .85;
  }
}
@keyframes slidein-on-load-scroll {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slidein-on-scroll-arrow {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* cursor animation effect */
.header-bio, #bio-content, #personal-contact, #footer-trademark {
  position: relative;
  z-index: 10;
}
#cursor-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#cursor-dot {
  width: 25px;
  height: 25px;
  background-color: #d91d0c;
  border: 1px solid #d91d0c;
  position: absolute;
  border-radius: 50%;
  transition-duration: .1s;
  transition-timing-function: linear;
  z-index: 2;
}

#cursor-circle {
  width: 70px;
  height: 70px;
  border: 1px solid #f2ae2f;
  background-color: #f2ae2f;
  position: absolute;
  border-radius: 50%;
  transition-duration: .15s;
  transition-timing-function: linear;
  z-index: 1;
}

#cursor-square {
  width: 170px;
  height: 170px;
  border: 1px solid #f2d231;
  background-color: #f2d231;
  position: absolute;
  transition-duration: .3s;
  transition-timing-function: linear;
  z-index: 0;
  transform: rotate(25deg);
}

/* for mobile */
@media only screen and (max-width: 900px) {
  h2 {
    font-size: 16px;
  }
  ul > span {
    font-size: 15px;
  }
  li {
    font-size: 13px;
  }
  #logo, #footer-logo {
    font-size: 10px;
    height: 51px;
  }
  .header-bio {
    font-size: 10px;
  }
  #header-wrapper {
    height: 472px;
  }
  .bio-element-left > div {
    margin-left: 28px;
  }
  .bio-element-right > div {
    margin-left: 20px;
    transform: translateY(-5px);
  }
  .bio-text {
    width: 345px;
    margin-top: 62px;
    font-size: 10px;
    line-height: 24px;
  }
  .arrow {
    margin-top: 17px;
  }
  .arrow > img {
    width: 30px;
  }
  .bio-thumbnail-left {
    position: relative;
    margin-left: 131px;
    margin-top: -115px;
    z-index: -1;
    width: 304px;
  }
  .bio-thumbnail-right {
    width: 320px;
    margin-left: -173px;
  }
  .slidein-on-scroll {
    margin-bottom: 320px;
  }
  #personal-contact {
    margin-top: 300px;
  }
  #personal-contact-content {
    margin: 0;
    text-align: center;
  }
  .social-media-item > img {
    width: 33px;
  }
  #personal-contact-background {
    display: none!important;
  }
  #footer-wrapper {
    margin-top: 138px;
  }
  #footer-trademark {
    font-size: 10px;
  }
  #cursor-wrapper {
    display: none;
  }
}
